/* Background of site */
body, html {
  /* The image used */
  background-image: url('images/pedstruck.jpg'), url('/images/mci.jpg'), url('images/hatzalah.JPG');
  

  /* Full height */
  height: 100%;
  

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* filter: blur(5px); */
}

#searchbar{
  margin-left: 15%;
  padding:15px;
  border-radius: 10px;
}

input[type=text] {
   width: 50%;
   -webkit-transition: width 0.15s ease-in-out;
   transition: width 0.15s ease-in-out;
}

/* When the input field gets focus,
     change its width to 100% */
/* input[type=text]:focus {
  width: 60%;
} */

/*Info Styling*/
#info{
  color: white;
  position: fixed;
  left: 38%
}
h1 {
  color: white;      
  text-align: center;
}
  
h2 {
    color: white;
    text-align: center;
}

h3 {
  color: white;
  text-align: center;
}

h4 {
  color: white;
  text-align: center;
}
h5 {
  color: white;
  text-align: center;
}
h6 {
  color: white;
  text-align: center;
}

.search-container{
  /* top: 0;
  bottom:0; */
  position:fixed;
  /* overflow-y:scroll;
  overflow-x:hidden; */
}
/* Style the tab */
.tab {
  float: left;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  display: block;
  background-color: inherit;
  color: white;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}







  