/* Background of site */
body, html {
  /* The image used */
  background-image: url('images/pedstruck.jpg'), url('/images/mci.jpg'), url('images/hatzalah.JPG');
  

  /* Full height */
  height: 100%;
  

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* filter: blur(5px); */
}

/* Search bar */
#searchbar{
  margin-left: 3%;
  padding:15px;
  border-radius: 10px;
}


/*Info Styling*/
#info{
  color: white;
  position: fixed;
  left: 38%
}

h1 {
  color: white;      
  text-align: center;
}
  
h2 {
    color: white;
    text-align: center;
}

h3 {
  color: white;
  text-align: center;
}

/* Style the tab */
.tab {
  float: left;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  display: block;
  background-color: inherit;
  color: white;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}







  